html{
    font-size: 10px;
}
body{
    height: 1000px;
    background-image: url(./fonts/images/fond-body.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#imgtitre{
    width: auto;
    padding: 1%;
}
#pokeball{
    margin-left: 10%;
    padding: 1%;
}
header{
    display: flex;
    justify-content: space-between;
    background-image: url(./fonts/images/fond-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    border-radius: 8px;
    margin: 1%;
}
.blanc{
    color: white;
}
#choix{
    display: flex;
    justify-content: space-around;
}
.choixstarter{
    width: 100%;
}
#starter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    list-style-type: none;
    width: 15%;
    cursor: pointer;
}

#jeu{
    display: flex;
    width: 100%;
    height: 720px;   
    display: none;
}
#click{
    width: 69%;
    background-image: url(./fonts/images/fond\ .jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
#clicker1{
    display: flex;
    justify-content: flex-end;
    height: 50%;
}
#clicker2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 50%;
}
#mybulbizarre{
    background-image: url(./fonts/images/Bulbizarre_dos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 10%;
}
#mycarapuce{
    background-image: url(./fonts/images/Carapuce_dos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 10%;
}
#mysalameche{
    background-image: url(./fonts/images/Salameche_dos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 10%;
}
#mypikachu{
    background-image: url(./fonts/images/pikachu-dos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 10%;
}
#myraichu{
    background-image: url(./fonts/images/raichu_dos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 10%;
}
#mymew{
    background-image: url(./fonts/images/Mew_dos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 10%;
}
#vieblanche{
    width: 306px;
    height: 16px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    padding: 1px;
}
#vierouge{
    width: 300px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}
#amelioration{
    width: 29%;
    margin: 1%;
    background-image: url(./fonts/images/fond-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divargent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokecoin{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.upgrade{
    width: 98%;
    height: 100px;
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: rgb(184,180,180);
    background: linear-gradient(90deg, rgba(184,180,180,1) 0%, rgba(255,255,255,1) 50%, rgba(184,180,180,1) 100%);
}
.littleup{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 100%;
    border-radius: 8px;
}
#multiply{
    width: 98%;
    height: 100px;
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: rgb(184,180,180);
    background: linear-gradient(90deg, rgba(184,180,180,1) 0%, rgba(255,255,255,1) 50%, rgba(184,180,180,1) 100%);
    position: relative;
}

#pokecoinchiant{
    position: absolute;
    margin-top: 195px;
}
#evolution{
    width: 98%;
    height: 100px;
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: rgb(184,180,180);
    background: linear-gradient(90deg, rgba(184,180,180,1) 0%, rgba(255,255,255,1) 50%, rgba(184,180,180,1) 100%);
    position: relative;
}
#pokecoinchiant2{
    position: absolute;
    margin-top: 300px;
}

#pokemonEnnemi{
    width: 250px;
    height: 250px;
    position: absolute;
    margin-top: 400px;
    margin-left: 30px;
}
#changeEnnemi{
    width: 250px;
}







/* Départ annimation évolution */
#divAnimationEvolution{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.imgevo{
    width: 20%;

}
#evo2{
    width: 0;
}
#mainevo{
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    display: none;
    opacity: 0;
}
#divevo1{
    padding: 2px;
    width: 60%;
    height: 120px;
    margin-bottom: 40px;
    background-color: rgb(32, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#divevo2{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
.textEvo{
    margin-left: 10px;
    font-size: 2rem;
}
@keyframes arrivagemainevo {
    0%{
        display: flex;
        opacity: 0;
    }
    5%{
        display: flex;
        opacity: 1;
    }
    95%{
        display: flex;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}




@keyframes evolutionPokemon1 {
    0%{
        width: 20%;
    }
    9.5%{
        width: 0;
    }
    18.5%{
        width: 0;
    }
    27%{
        width: 0;
    }
    35%{
        width: 20%;
    }
    42.5%{
        width: 0;
    }
    49.5%{
        width: 0;
    }
    56%{
        width: 0;
    }
    62%{
        width: 20%;
    }
    67.5%{
        width: 0;
    }
    72.5%{
        width: 0;
    }
    77%{
        width: 0;
    }
    81%{
        width: 20%;
    }
    84.5%{
        width: 0;
    }
    87.5%{
        width: 0;
    }
    90%{
        width: 0;
    }
    92%{
        width: 20%;
    }
    93%{
        width: 0;
    }
    94%{
        width: 0;
    }
    95%{
        width: 0;
    }
    96%{
        width: 20%;
    }
    97%{
        width: 0;
    }
    98%{
        width: 0;
    }
    99%{
        width: 0;
    }
    100%{
        width: 0;
    }
}

@keyframes evolutionPokemon2 {
    0%{
        width: 0;
    }
    9.5%{
        width: 0;
    }
    18.5%{
        width: 20%;
    }
    27%{
        width: 0;
    }
    35%{
        width: 0;
    }
    42.5%{
        width: 0;
    }
    49.5%{
        width: 20%;
    }
    56%{
        width: 0;
    }
    62%{
        width: 0;
    }
    67.5%{
        width: 0;
    }
    72.5%{
        width: 20%;
    }
    77%{
        width: 0;
    }
    81%{
        width: 0;
    }
    84.5%{
        width: 0;
    }
    87.5%{
        width: 20%;
    }
    90%{
        width: 0;
    }
    92%{
        width: 0;
    }
    93%{
        width: 0;
    }
    94%{
        width: 20%;
    }
    95%{
        width: 0;
    }
    96%{
        width: 0;
    }
    97%{
        width: 0;
    }
    98%{
        width: 20%;
    }
    99%{
        width: 20%;
    }
    100%{
        width: 20%;
    }
}

 
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
#typewriter{
    font-size: 30px;
}
